.body{
    color: #2f8388 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 10px 10px 10px rgba(3, 33, 255, 0.652);
}
.image-details {
    width: 200px;
    height: 200px;
  }

  .background {
    text-align: center;
    background:linear-gradient(to right, #10238c, #550ecf);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:aliceblue;
  }
  .background:hover{
    box-shadow: 5px 10px 10px 10px rgba(3, 33, 255, 0.652);
    
   }
   .-stats > p {
    letter-spacing: 1px;

}
